.modal-container {
    position: fixed;
    top: 3vw;
    left: 22vw;
    width: calc(56vw - 16px); /* Subtracting the average of various browser's scrollbar widths */
    padding: 1px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.2);
    max-height: 88vh;
    z-index: 3;
    transition: all 0.4s ease-in-out;
}

.modal-container.comparison {
    position: relative;
    top: 0;
    left: 0;
    width: calc(44.6vw); /* Subtracting the average of various browser's scrollbar widths */
    padding: 1px;
    box-shadow: unset;
    max-height: unset;
}

.solution-element-modal-side-panel-open {
    left: 3.8vw;
    width: 46vw;
    box-shadow: -15px 0 30px 2px rgba(0, 0, 0, 0.2);
}

.side-panel-modal {
    opacity: 0;
    width: 35vw;
    z-index: 1;
}

.side-panel-modal-side-panel-open {
    width: 46vw;
    opacity: 1;
    left: 50.2vw;
    box-shadow: 15px 0 30px 2px rgba(0, 0, 0, 0.2);
}

.modal-container-scrollable { /* functioning as fix for scrollbar covering border-radius */
    padding: 30px;
    max-height: calc(88vh - 120px);
    overflow-y: auto;
    transition: max-height 0.5s ease-in-out;
    box-sizing: border-box;
}

.modal-container-scrollable.comparison {
    padding: 0;
}

.modal-container-non-scrollable {
    padding: 30px;
}

.modal-header {
    position: sticky;
    background-color: #e5e5e5;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.1);
    border: 2px solid white;
    border-bottom-width: 3px;
    border-radius: 5px;
}

.element-modal-footer-overlay {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    z-index: 1;
}

.element-modal-footer-overlay-active {
    opacity: 1;
    visibility: visible;
}

.modal-footer {
    position: relative;
    background-color: #f4f4f6;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 -5px 10px -5px rgba(0,0,0,0.2);
    border: 2px solid white;
    border-top-width: 3px;
    height: 4vh;
    border-radius: 0;
    transition: height 0.5s ease-in-out, border-radius 0.5s ease-in-out;
    z-index: 2;
}

.modal-footer.expanded {
    height: 50vh;
    border-radius: 8px;
}

.modal-footer-info {
    margin-top: 30px;
    padding: 15px 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.95rem;
    color: #333;
    width: 92%;
}

.modal-header h2 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.modal-footer h2 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-style: italic;
}

.title-container {
    display: flex;
    align-items: center;
    min-width: 0;
}

.element-title {
    display: flex;
    flex-direction: row;
}

.element-title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full-title-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.2);
    white-space: normal;
    z-index: 2;
}

.element-title-text:hover .full-title-overlay {
    display: block;
}

.button-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.element-details-container {
    display: flex;
    flex-direction: column;
    background-color: #e9ecef;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.element-details-container.change-summary {
    background-color: rgba(230, 230, 250, 0.2);
    box-shadow: inset 0 0 150px 34px rgba(182, 182, 255, 0.25);
}

.element-details-container h3 {
    margin-bottom: 0;
}