.App {
  white-space: pre-wrap;
  /*background-color: #cccccc; /* #eef2ff */
}

body {
  background-color: #cccccc;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004a9f;
  transform: scale(0.98);
}

button:focus-visible, input:focus-visible, a:focus-visible {
  outline: 2px solid #000000;
}

.animated-toggle-section {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.action-button {
  display: flex;
  padding: 8px 13px;
  font-size: 14px;
  margin: 0 4px;
  white-space: nowrap;
}

.cancel-button {
  background: linear-gradient(125deg, #dee4e8, #b7bdc0);
  color: #000000;
  border: 1px solid #9fa4a8;
}
.cancel-button:hover {background: linear-gradient(125deg, #d2d8dc, #b0b6b9);}
.cancel-button:active {background: linear-gradient(125deg, #c1c8cc, #979c9f);}


.discussion-space-button {background-color: #7935cc;}
.discussion-space-button:hover {background-color: #5c1fa8;}
.discussion-space-button:active {background-color: #4c1a8a;}

.action-button--propose-changes {background: linear-gradient(125deg, #6b8be1, #3866de);}
.action-button--propose-changes:hover {background: linear-gradient(125deg, #5772bb, #2f56bb);}
.action-button--propose-changes:active {background: linear-gradient(125deg, #2c53b9, #223f97);}

.action-button--close {background-color: #bd0000;}
.action-button--close:hover {background-color: #9a0000;}
.action-button--close:active {background-color: #7e0000;}

/* --- Draft bottom navigation --- */
.action-button--submit-draft {background: linear-gradient(125deg, #7f62ef, #6346d7);}
.action-button--submit-draft:hover {background: linear-gradient(125deg, #6e54d2, #5237b8);}
.action-button--submit-draft:active {background: linear-gradient(125deg, #5e48b4, #422e98);}

.action-button--discard-draft {background: linear-gradient(125deg, #d74141, #ab3c3c);}
.action-button--discard-draft:hover {background: linear-gradient(125deg, #b93939, #8d3030);}
.action-button--discard-draft:active {background: linear-gradient(125deg, #9b2f2f, #752828);}

.action-button--submit-draft, .action-button--discard-draft {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.discussion-space-button:disabled, .action-button:disabled {
  background: rgba(197, 197, 197, 0.75);
  cursor: not-allowed;
  border-color: rgba(197, 197, 197, 0.75);
}
.discussion-space-button:disabled:active, .action-button:disabled:active {transform: none;}

.info-button {
  margin-left: 5px;
  background: linear-gradient(125deg, #49b2ff, #1182ff);
  border-radius: 4px;
  position: relative;
  z-index: 1;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.info-button--footer {
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 5px;
}

.info-button:hover, .info-button.active {
  background: linear-gradient(125deg, #49a5ff, #1175ff);
  border-radius: 7px;
  color: white;
}

.draft-edit-button {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: end;
  height: 32px;
  background-image: linear-gradient(125deg, #00bb58, #00964d);
}

.draft-edit-button:hover {background-image: linear-gradient(125deg, #00b45f, #00773d);}
.draft-edit-button:active {background-image: linear-gradient(125deg, #008340, #006b35);}

.draft-edit-button img {
  height: 20px;
  margin-right: -5px;
  margin-top: -2px;
}

.action-button--submit-draft img, .action-button--discard-draft img {
  height: 16px;
  margin-right: 5px;
  margin-left: -4px;
  margin-top: 1px;
}