.App {
  white-space: pre-wrap;
  /*background-color: #cccccc; /* #eef2ff */
}

/* GeneralStyles */
body {
  background-color: #cccccc;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004a9f;
  transform: scale(0.98);
}

button:focus-visible, input:focus-visible, a:focus-visible {
  outline: 2px solid #000000;
}

.animated-toggle-section {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}