.comments-container {
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.comment {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.comment-text {
    padding: 0;
    margin: 0;
}

.comment-content button {
    margin-top: 10px;
}