.consideration-container {
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    background-color: #e8e8ff;
    background-image: linear-gradient(125deg, #f1f1ff, #e0e0ff);
}

.consideration-container.pro {
    background-image: linear-gradient(125deg, #D4EDDA, #a0d5ab);
}
.consideration-container.pro-form {
    background-image: none;
    transition: background-color 0.5s ease-in-out;
    background-color: #D4EDDAFF;
}

.consideration-container.con {
    background-image: linear-gradient(125deg, #ffe0e2, #ffb3b8);
}
.consideration-container.con-form {
    background-image: none;
    transition: background-color 0.5s ease-in-out;
    background-color: #ffe0e2;
}

.consideration-container.neutral {
    background-image: linear-gradient(125deg, #fff8ea, #efdfc1);
}
.consideration-container.neutral-form {
    background-image: none;
    transition: background-color 0.5s ease-in-out;
    background-color: #fff8ea;
}

.consideration-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.consideration-header-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #353a3f;
}

.consideration-header-toggle {
    background-color: rgba(0, 123, 255, 0.5);
    color: darkblue;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.consideration-header-toggle:hover {
    background-color: rgba(0, 86, 179, 0.8);
    color: #f4f2ff;
}

.consideration-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}