.consideration-container {
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 30px;
    border: 1px solid #d5d5d5;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

.consideration-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.consideration-header-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #353a3f;
}

.consideration-container.pro {
    background-color: rgba(212, 237, 218, 0.8);
}

.consideration-container.con {
    background-color: rgba(248, 215, 218, 0.8);
}

.consideration-container.neutral {
    background-color: rgba(248, 237, 206, 0.4);
}

.consideration-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.consideration {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}

.consideration-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.consideration-text {
    padding-left: 5px;
    margin-right: 8px;
    flex: 3;
}

.consideration-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 7px;
}

.consideration-actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.add-comment-button {
    padding: 5px 10px;
}

.toggle-comments-button, .consideration-header-toggle-button {
    background-color: rgba(0, 123, 255, 0.5);
    color: darkblue;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.toggle-comments-button:hover, .consideration-header-toggle-button:hover {
    background-color: rgba(0, 86, 179, 0.8);
    color: #f4f2ff;
}

.toggle-comments-button:disabled {
    background: rgba(238, 238, 238, 0.75);
    color: #555;
    cursor: default;
}

.toggle-comments-button:disabled:hover {
    background: rgba(225, 225, 225, 0.5);
    color: #555;
}

.toggle-comments-button:disabled:active {
    transform: none;
}