.solution-details-area {
    display: flex;
    position: absolute;
    margin-top: 0;
    padding-bottom: 300px;
    left: 25vw;
    top: 0;
    width: calc(50vw - 16px); /* Subtracting the average of various browser's scrollbar widths */
    z-index: 2;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.solution-details-area-comparison {
    display: flex;
    position: relative;
    margin-top: 0;
    top: 0;
    z-index: 2;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.solution-details-area-side-panel-open {
    width: 46vw;
    left: 3.8vw;
}

.solution-details-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.solution-details-container h2 {
    margin: 0;
    padding-top: 0;
}

.solution-details-list-container {
    background-color: #e9ecef;
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 30px;
}

.draft-list-container {
    margin-top: 40px;
    padding: 15px 15px 25px 15px;
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.solution-details-list-container-title {
    margin-top: 0;
    margin-bottom: 15px;
    color: #353a3f;
}

.solution-details-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.solution-details-add-card-button-container { /* Warning: Class referenced in handleBrowserNavigation for DOM checks. Changes need to be synchronized. */
    text-align: right;
    margin-top: 30px;
}