.solution-overview-section {
    margin-bottom: 20px;
}

.solution-overview, .solution-description {
    margin-bottom: 12px;
    line-height: 1.3;
    color: #555;
}

.solution-overview-meta {
    text-align: right;
    font-size: 14px;
    color: #666;
    margin-top: 30px;
}

.solution-overview-meta span {
    display: block;
    margin-bottom: 3px;
}