.solution-overview-section {
    margin-bottom: 20px;
}

.solution-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.meta-button-container {
    position: relative;
}

.solution-overview-meta {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 2;
    text-align: right;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
}

.solution-overview-meta span {
    display: block;
    margin-bottom: 3px;
}

.solution-overview-section-text {
    margin-bottom: 12px;
    line-height: 1.3;
    color: #555;
}

.draft-form {} {/* Warning: Class referenced in handleBrowserNavigation for DOM checks. Changes need to be synchronized. */}