.solution-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 15px auto;
    border-radius: 8px;
    max-width: 50vw;
    min-width: 800px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.solution-card.draft {
    background-color: rgb(246, 197, 189);
    margin: 0 auto 30px;
    border: 4px solid white;
}

.solution-card.change-proposal {
    background-color: lavender;
    border: 4px solid white;
    transform: translateX(20px);
    max-width: calc(50vw - 60px);
    min-width: 720px;
    margin: -12px auto 0;
    border-radius: 0 0 8px 8px;
}

.solution-card.new-element-proposal {
    background-color: rgba(207, 227, 243, 0.5);
    border: 4px solid white;
}

.solution-card.review {
    background-color: rgb(246, 197, 189);
    border: 4px dashed white;
}

.solution-card-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: start;
}

.solution-title {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    flex: 3;
    padding-bottom: 20px;
    padding-top: 4px;
    margin-bottom: 15px;
 }

.solution-card-type-info {
    font-style: italic;
    font-weight: lighter;
    color: black;
    height: 25px;
}

.header-right {
    position: relative;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.active-components {
    position: absolute;
    top: 23px;
    min-width: 150px;
}

.solution-timestamp, .active-components {
    margin-bottom: 8px;
    margin-left: 10px;
    text-align: right;
    color: #666;
    font-size: 0.8em;
}

.solution-body {
    flex-grow: 1;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.solution-content {
    text-align: left;
    margin-bottom: 12px;
    margin-right: 50px;
    color: #333;
    line-height: 1.5;
    flex-grow: 1;
}

.solution-interactions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    margin-top: 30px;
}

.details-button {
    width: 100px;
}

@media screen and (max-width: 840px) {
    .solution-card {
        max-width: 800px;
        min-width: 0;
    }
    .solution-card-header {
        padding-left: 0;
    }
    .solution-title {           /* Measured for current layout of solution cards. */
        padding-top: 23px;      /* for avoiding collision with "last updated" */
        margin-right: 125px;    /* for avoiding collision with active components section of solution cards */
    }
    .header-right {
        position: absolute;
    }
    .solution-timestamp {
        margin-left: 0;
    }
    .active-components {
        position: absolute;
        top: 25px;
    }
    .solution-body {
        padding-left: 0;
    }
    .solution-body {
        flex-direction: column;
    }
    .solution-content {
        margin-right: 0;
    }
    .solution-interactions {
        margin-top: 0;
    }
}