.entity-container-for-ds-addition {
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 3;
}

.overlay-active {
    opacity: 1;
}

.discussion-space-sticky-frame {
    display: flex;
    position: sticky;
    margin-top: 40px;
    top: 40px;
}

.discussion-space-container {
    position: relative;
    padding: 1px;
    width: 50vw;
    left: 25vw;
    opacity: 0;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.1);
    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out, left 0.4s ease-in-out;
}

.discussion-space-container-ds-open {
    width: 45vw;
    opacity: 1;
    left: 50vw;
}