.solutionsBlock {
    padding-top: 40px;
    margin: 0 20px;
}

.no-solutions-message {
    text-align: center;
    margin: 100px 150px 0;
    font-size: 1.3em;
    color: #666;
}

.no-solutions-call-to-action {
    text-align: center;
    margin: 40px 150px;
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
}

.action-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.solution-action-button {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 7px;
}

@media (max-width: 920px) {
    .no-solutions-message {
        font-size: 1em;
        margin: 50px 40px 0;
    }

    .no-solutions-call-to-action {
        margin: 40px 40px;
        font-size: 1.1em;
    }

    .action-button-container {
        margin-top: 10px;
    }

    .solution-action-button {
        padding: 7px 15px;
        font-size: 1em;
    }
}
