.modal-container {
    position: fixed;
    top: 3vw;
    left: 22vw;
    width: 56vw;
    padding: 1px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.2);
    max-height: 85vh;
    z-index: 3;
    transition: all 0.4s ease-in-out;
}

.solution-element-modal-ds-open {
    left: 3.8vw;
    width: 46vw;
    box-shadow: -15px 0 30px 2px rgba(0, 0, 0, 0.2);
}

.discussion-space-modal {
    opacity: 0;
    width: 35vw;
    z-index: 1;
}

.discussion-space-modal-ds-open {
    width: 46vw;
    opacity: 1;
    left: 50.2vw;
    box-shadow: 15px 0 30px 2px rgba(0, 0, 0, 0.2);
}

.modal-container-scrollable { /* functioning as fix for scrollbar covering border-radius */
    padding: 30px;
    max-height: calc(84vh - 120px);
    overflow-y: auto;
}

.modal-header {
    position: sticky;
    background-color: #e5e5e5;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 -5px 10px -5px rgba(0,0,0,0.1);
    border: 2px solid white;
    border-bottom-width: 3px;
    border-radius: 5px;
}

.modal-header h2 {
    margin: 0 20px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full-title-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: -3px -3px 10px 8px rgba(0,0,0,0.2);
    white-space: normal;
    z-index: 2;
}

.modal-header h2:hover .full-title-overlay {
    display: block;
}

.solution-element-button-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.solution-element-action-button {
    padding: 8px 13px;
    font-size: 14px;
    margin: 0 4px;
    white-space: nowrap;
}

.solution-element-action-button--propose {background-color: #4370e5;}
.solution-element-action-button--propose:hover {background-color: #3b63cb;}
.solution-element-action-button--propose:active {background-color: #2c53b9;}

.discussion-space-button {background-color: #7935cc;}
.discussion-space-button:hover {background-color: #5c1fa8;}
.discussion-space-button:active {background-color: #4c1a8a;}
.discussion-space-button:disabled {
    background: rgba(197, 197, 197, 0.75);
    cursor: not-allowed;
}
.discussion-space-button:disabled:active {transform: none;}

.solution-element-action-button--close {background-color: #bd0000;}
.solution-element-action-button--close:hover {background-color: #9a0000}
.solution-element-action-button--close:active {background-color: #7e0000;}