.header-container {
    background-color: #f6f7f8;
    width: 100%;
    min-height: 69px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f7f8;
    padding: 5px 40px 3px;
    position: relative;
    min-height: 69px;
    z-index: 100;
    box-sizing: border-box;
    width: 100vw;
}

.active {
    color: #007bff;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 -10px 60px 1px rgba(0,0,0,0.1);
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
}

.logo img {
    max-width: 66px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 6px 4px rgba(82, 52, 192, 0.08);
    margin-right: 10px;
}

.nav-menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #007bff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    white-space: nowrap;
    z-index: 1;
}

.nav-menu a {
    text-decoration: none;
    color: #555;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 7px;
}

.nav-menu a:hover, .user-menu a:hover {
    color: #003681;
    background-color: rgba(241, 241, 241, 0.25);
    box-shadow: none;
}

.nav-menu a:active {
    transform: scale(0.98);
}

.nav-menu a.active:hover {
    background-color: #ffffff;
    box-shadow: 0 -5px 60px 1px rgba(0,0,0,0.15);
}

.user-section {
    display: flex;
    align-items: center;
}

.user-section span {
    margin-right: 10px;
    font-size: 18px;
    text-align: right;
}

.user-menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 10px;
}

.user-menu-toggle.menu-open, .user-menu-toggle.menu-open:hover {
    background-color: #ffffff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
}

.user-menu-toggle:hover {
    /*background-color: #ffffff;
    box-shadow: 0 -10px 60px 1px rgba(0,0,0,0.1);*/
    background-color: rgba(159, 159, 159, 0.20);
}

.user-menu-toggle:active {
    background-color: white;
    transform: scale(0.98);
}

.user-menu-toggle img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
    object-fit: cover;
    border: 1px solid #e1e2e5;
}

.user-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 71px;
    margin-right: 8px;
    right: 33px;
    width: 160px;
    background-color: #f3f4f6;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}

.user-menu a {
    margin: 0;
    width: 120px;
    padding: 10px 20px;
    text-align: right;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    color: #555;
    text-decoration: none;
    font-size: 18px;
}

.nav-menu.displayed, .user-menu.displayed {
    display: flex;
}

.nav-menu a:last-child, .user-menu a:last-child {
    border-bottom: none;
}

.login-button, .logout-button {
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    background-color: #007bff;
    text-decoration: none;
}

.logout-button {
    background: linear-gradient(125deg, #fda4a4, #b67e7e);
    color: #000;
    text-align: right;
    font-weight: bold;
    min-width: 160px;
    min-height: 40px;
    border-radius: 0;
}

.login-button:hover {
    background-color: #0056b3;
}

.logout-button:hover {
    background: linear-gradient(125deg, #ff6262, #a43131);
    color: #f0f0f0;
}

.login-button:active {
    background-color: #004a9f;
    transform: scale(0.98);
}

.logout-button:active {
    background-color: rgba(155, 0, 0, 0.78);
    transform: none;
}


@media (max-width: 920px) {
    .nav-menu-toggle {
        display: flex;
    }

    .nav-menu-toggle.menu-open, .nav-menu-toggle.menu-open:hover {
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 59px;
        left: 20px;
        width: 200px;
        background-color: #f3f4f6;
        box-shadow: 1px 3px 5px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        overflow: hidden;
    }

    .nav-menu a {
        margin: 0;
        width: 160px;
        padding: 10px 20px;
        text-align: left;
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }

    .nav-menu a:active {
        transform: none;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .user-menu {
        top: 66px;
        margin-right: 7px;
    }

    .user-menu-toggle img {
        width: 40px;
        height: 40px;
        margin-right: 0;
    }

    .user-menu-toggle:hover {
        padding-right: 8px;
    }
}