.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    padding: 5px 20px 3px 20px;
    position: relative;
}

.active {
    color: #007bff;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.logo img {
    max-width: 66px;
    height: auto;
    border-radius: 50%;
}

.navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
    font-size: 18px;
}
.navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a:hover {
    color: #007bff;
}

.user-section {
    display: flex;
    align-items: center;
}

.user-section span {
    margin-right: 10px;
    font-size: 18px;
}

.logout-button, .login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.logout-button:hover, .login-button:hover {
    background-color: #0056b3;
}

.login-button {
    color: white;
    text-decoration: none;
}
.login-button:active {
    background-color: #004a9f;
    transform: scale(0.98);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation a {
        margin: 5px 0;
    }

    .logo a, .user-section span, .navigation a {
        font-size: 16px;
    }

    .logout-button, .login-button {
        padding: 10px 15px;
    }
}